body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b52c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4caf50;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
}

li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #c9302c;
}

li input {
  width: 48%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
